! Base configuration for CE routers
!
!
{% for link in links %}
 interface {{ link.name }}
    description {{ link.description }}
    ip address {{ link.ip }} {{ link.mask }}
    no shutdown
!
{% endfor %}
router bgp {{ bgp_asn }}
    bgp router-id {{ loopback0 }}
    network {{ loopback0 }} mask 255.255.255.255
    network {{ loopback10 }} mask 255.255.255.255
    neighbor {{ neighbor_ip }} remote-as {{ pe_asn }}
!
