! Base MPLS configuration for {{ hostname }}
!
ip cef
!
interface Loopback0
 ip address {{ loopback }} 255.255.255.255
 no shutdown
!
{% for link in links %}
 description {{link.description}}
 ip address {{link.ip}} {{link.mask}}
 no shutdown
 mpls ip
!
{% endfor %}
router ospf 1
 router-id {{ loopback }}
 network {{ loopback }} 0.0.0.0 area {{ ospf_area }}
{% for link in links %}
 network {{link.ip }} 0.0.0.3 area {{ ospf_area }}
!
mpls ldp router-id Loopback0 force
!
