! Base PE_VRF configuration for {{ hostname }}
!
ip cef
!
ip vrf {{ vrf_name }}
 rd {{ rd }}
 route-target import {{ rt_import }}
 route-target export {{ rt_export }}
!
interface loopback0
 ip address {{ loopback }} 255.255.255.255
 no shutdown
!
interface loopback10
 ip vrf forwarding {{ vrf_name }}
 ip address {{loopback10}} 255.255.255.255
 no shut
!
interface {{ customer_interface }}
 ip vrf forwarding {{vrf_name}}
 ip address {{customer_ip}} 255.255.255.252
 no shut
!
{% for link in links %}
 interface {{ link.name }}
    description {{ link.description }}
    ip address {{ link.ip }} {{ link.mask }}
    mpls ip
    no shutdown
{% endfor %}
!
router ospf 1
 router-id {{ loopback }}
 network {{ loopback }} 0.0.0.0 area {{ ospf_area }}
{% for link in links %}
 network {{link.ip }} 0.0.0.3 area {{ ospf_area }}
!
{% endfor %}
mpls ldp router-id Loopback0 force
!
router bgp {{ bgp_asn}}
 {% for neighbor in pe_neighbors %}
 neighbor {{ neighbor.ip }} remote-as {{ bgp_asn }}
 neighbor {{ neighbor.ip }} update-source loopback0
 address-family vpnv4
  neighbor {{ neighbor.ip }} activate
 exit-address-family
 {% endfor %}
 address-family ipv4 vrf {{ vrf_name }}
  neighbor {{ ce_neighbor }} remote-as {{ce_asn}}
  neighbor {{ ce_neighbor }} activate
  network {{ loopback10}} mask 255.255.255.255
  network {{ customer_network }} mask 255.255.255.252
  exit
 !

