[defaults]
inventory = inventory/gns3_lab.yml
host_key_checking = False
retry_files_enabled = False
stdout_callback = yaml
timeout = 30

[persistent_connection]
connect_timeout = 30
command_timeout = 30
